/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */



#title{
  font-family: 'VT323', monospace;
  color: rgb(233, 233, 238);
  font-size: 120px;
  background: rgba(0, 0, 0, 0.454);
}
#city-cta{
 
  
}
 
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 580px;
  line-height: 0;
  height: auto;
  color: white;
}
#city-search{
  color: black;
  
}
#city-cta{
margin-top: 20px;
}
.parallax-container .section {
    width: 100%;
}
#section-1 {
    min-height: 350px;
}
#section-2 {
    min-height: 400px;
}
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
.page-footer{
  background: rgb(141, 81, 225);
  
}
footer.page-footer {
  margin: 0;
}
