/* Custom Stylesheet */

#title {
  font-family: 'VT323', monospace;
  color: rgb(233, 233, 238);
  font-size: 120px;
  background: rgba(0, 0, 0, 0.297);
}
#name {
  font-family: 'VT323', monospace;
  font-size: 30px;
}
#home, #credits{
  font-family: 'VT323', monospace;
  font-size: 20px;
}
 
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  line-height: 0;
  height: auto;
  color: white;
}

#city-search {
  color: black;
}

#city-cta {
  margin-top: 20px;
  color: black;
}

.parallax-container .section {
  width: 100%;
}

#section-1 {
  min-height: 350px;
}

#section-2 {
  min-height: 400px;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}
.page-footer{
  background: rgb(141, 81, 225);  
}

footer.page-footer {
  margin: 0;
}

/* page 2 specific styles  */

.mapToggle{
  color: black; /*makes map button text black*/
}

.map-container, .job-container{
  margin-top: 20px;
  margin-bottom: 10px;
  min-height: 400px;  
}

.job-container {
  padding-top: 50px;
}

#section-1-2 {
  min-height: 150px;
}

#section-2-2 {
  min-height: 150px;
}
.card-size {
  height: 30%;
  width: 25%;
  display: inline-block;
}

.card-custom {
  height: 300px; 
}


